<?xml version="1.0" ?>
<!--
SPDX-FileCopyrightText: 2025, FANUC America Corporation
SPDX-FileCopyrightText: 2025, FANUC CORPORATION
SPDX-License-Identifier: Apache-2.0
-->
<robot name="crx5ia" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:include filename="$(find fanuc_crx_description)/urdf/crx5ia_urdf_macro.xacro"/>
  <xacro:include filename="$(find fanuc_description)/urdf/crx_ros2_control_macro.xacro"/>

  <link name="world"/>
  <link name="end_effector"/>
  <xacro:crx5ia parent="world" child="end_effector">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:crx5ia>

  <xacro:crx_control name="crx5ia"/>
</robot>
